﻿@{
    ViewData["Title"] = "Home Page";
}
<label class="panel-heading">SKILLS</label>
<form class="form-inline" name="ratingForm">
        
                
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="skillInput" placeholder="Add skill">
    <fieldset class="form-group col">
        
        <div>
            
                <label class="radio-inline">
                    <input type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    
                </label>
            
            
                <label class="radio-inline">
                    <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
                   
                </label>
            
            
                <label class="radio-inline">
                    <input type="radio" name="gridRadios" id="gridRadios3" value="option3" checked>
                    
                </label>
            <label class="radio-inline">
                <input type="radio" name="gridRadios" id="gridRadios4" value="option4">

            </label>


            <label class="radio-inline">
                <input type="radio" name="gridRadios" id="gridRadios5" value="option5">

            </label>
           
        </div>
    </fieldset>
                
                
                <button type="submit" class="btn btn-primary">Save skill</button>


            




            </div>

</form>




